.planos {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #fff;
}

.planos h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px; 
  font-weight: 500;
  color: #B3123C;
  margin-bottom: 30px;
}

.planos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.plano-card {
  background-color: #FDF7F8;
  border-radius: 10px;
  padding: 40px 35px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.plano-card h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #B3123C;
  margin-bottom: 10px;
}

.plano-card .desconto {
  display: inline-block;
  background-color: #B3123C;
  color: #fff;
  font-size: 14px; 
  font-weight: 500;
  border-radius: 10px;
  padding: 3px 12px;
  margin-left: 10px;
}

.plano-card .preco-original {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; 
  color: #666;
  margin-bottom: 5px;
}

.plano-card .preco-destaque {
  font-family: 'Poppins', sans-serif;
  font-size: 40px; 
  line-height: 40px;
  font-weight: 700;
  color: #B3123C;
 
}

.porgarrafa {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; 
  line-height: 18px;
  font-weight: 500;
  color: #B3123C;
  

}

.plano-card .descricao {
  font-family: 'Poppins', sans-serif;
  font-size: 14px; 
  color: #333;
  margin-bottom: 15px;
  margin-top: 28px;
}

.plano-card .btn-assinar {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #35B729;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plano-card .btn-assinar:hover {
  background-color: #2d9a24;
}
