header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6%;
  background-color: #fff;
}

header img {
  height: 50px;
}

.menu-item {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #333;
  font-weight: 300;
  font-size: 20px;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.menu-item:hover {
  color: #b3123c;
}

.menu-item.active {
  font-weight: 700; 
  color: #b3123c; 
}